---
import { Picture } from 'astro:assets';
import { type CollectionEntry, getCollection } from 'astro:content';
import { FormattedDate } from '$lib/ui';
import Layout from '@/layouts/Base.astro';

import '@/styles/content.css';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post
  }));
}
type Props = CollectionEntry<'blog'>;

const {
  data: { title, description, pubDate, image },
  render
} = Astro.props;
const { Content } = await render();
---

<Layout
  {title}
  {description}
  tag='article'
  class='wrapper content max-w-prose gap-unset'
  role='main'
  itemprop='mainContentOfPage'>
  <header>
    {
      image && (
        <Picture
          class='mb-4 h-auto w-full max-w-full rounded-xl'
          src={image}
          formats={['avif', 'webp']}
          widths={[480, 960]}
          alt=''
        />
      )
    }
    <div class='mb-4 flex justify-between'>
      <FormattedDate
        class='font-mono text-base'
        date={pubDate}
        itemprop='datePublished'
      />
    </div>
    <h1>{title}</h1>
  </header>

  <Content />
</Layout>
