---
import { getCollection } from 'astro:content';
import { /*Image,*/ Picture } from 'astro:assets';
import FormattedDate from '$lib/ui/formatted-date/FormattedDate.astro';
import Layout from '@/layouts/Base.astro';

const title = 'Astro Blog';
const description = 'Lorem ipsum dolor sit amet';

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

/*
<Image
  class='mb-4 h-auto w-full max-w-full rounded-xl'
  width={720}
  src={post.data.image}
  alt=''
/>

sizes="(max-width: 1200px) 100vw, 1200px"
aspectRatio={1200 / 500}
*/
---

<Layout
  {title}
  {description}>
  <div class='wrapper grid max-w-3xl grid-cols-1 gap-x-8 gap-y-12 md:grid-cols-2'>
    {
      posts.map(async (post) => (
        <a
          class='no-underline md:first:col-span-2'
          href={`/blog/${post.slug}`}
          rel='prefetch-intent'>
          {post.data.image ? (
            <Picture
              class='mb-4 h-auto w-full max-w-full rounded-xl'
              src={post.data.image}
              quality={80}
              formats={['avif', 'webp']}
              fallbackFormat='avif'
              widths={[480, 960]}
              alt=''
            />
          ) : (
            <svg
              class='mb-4 h-auto max-w-full'
              viewBox='0 0 720 360'>
              <path d='m339.96 70a50 50 0 1 1-100 0 50 50 0 0 1 100 0zm84.5 81.06a10 10 0 0 0-11.54 1.86l-74.2 94.2-53.2-55.44a10 10 0 0 0-12.6 1.24l-72.92 87.08v40a20 20 0 0 0 20 20h280a20 20 0 0 0 20-20v-90z' />
            </svg>
          )}
          <h4 class='my-0 leading-none'>{post.data.title}</h4>
          <FormattedDate
            class='font-mono text-base'
            date={post.data.pubDate}
            itemprop='datePublished'
          />
        </a>
      ))
    }
  </div>
</Layout>
