---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '@/layouts/Base.astro';
import ContactCTA from '$lib/components/contact-cta/ContactCTA.astro';
import Hero from '$lib/ui/hero/Hero.astro';
import Pill from '$lib/ui/pill/Pill.astro';

import '@/styles/content.css';

interface Props {
  entry: CollectionEntry<'work'>;
}

export async function getStaticPaths() {
  const work = await getCollection('work');
  return work.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
  class='gap-20'
  title={entry.data.title}
  description={entry.data.description}>
  <main class='wrapper'>
    <Hero
      class='mb-8 border-b border-b-light-800 pb-4 dark:border-b-dark-800'
      title={entry.data.title}>
      <div
        class:list={[
          'p-2',
          'flex flex-col items-center justify-between gap-6',
          'bp:flex-row bp:gap-10'
        ]}>
        <div class='flex gap-2'>
          {entry.data.tags.map((t) => <Pill>{t}</Pill>)}
        </div>
        <p class='max-w-[54ch] text-xl'>
          {entry.data.description}
        </p>
      </div>
    </Hero>

    <div class='content flex max-w-prose flex-col'>
      {
        entry.data.image && (
          <img
            class='mb-8'
            src={entry.data.image}
            alt={entry.data.alt || ''}
          />
        )
      }
      <Content />
    </div>
  </main>

  <ContactCTA />
</Layout>
