---
import { /*slide, fade,*/ ViewTransitions } from 'astro:transitions';
import twMerge from '$lib/tailwind';
import { Footer, Head, Navbar, YandexMetrika } from '$lib/components';

import '@/styles/global.css';
import '@/styles/backdrop.css';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  robots?: string;
  schema?: string;
  tag?: 'main' | 'article' | 'div';
  class?: ClassName;
  role?: astroHTML.JSX.AriaRole;
  itemprop?: string;
}

const {
  title,
  description,
  robots,
  schema = 'WebPage',
  tag: Element = 'div',
  class: className,
  role,
  itemprop
} = Astro.props;

import { app, seo } from '$lib/configs';
const {
  yandex: { counter }
} = seo;

/*
const animate = {
  old: {
    name: 'fadeIn',
    duration: '0.2s',
    easing: 'linear',
    fillMode: 'forwards'
  },
  new: {
    name: 'fadeOut',
    delay: '0.1.5s',
    duration: '5.3s',
    easing: 'linear',
    fillMode: 'backwards'
  }
};
const fade = {
  forwards: animate,
  backwards: animate
};

transition:animate='none'
transition:animate={fade({ duration: '0.5s' })}
*/
---

<html
  lang='en'
  class='theme-dark'>
  <head>
    <Head
      {title}
      {description}
      {robots}
      {app}
    />
    <ViewTransitions />
  </head>

  <body
    itemscope
    itemtype={`https://schema.org/${schema}`}>
    <div class='backdrop flex min-h-screen flex-col'>
      <Navbar />
      <Element
        {role}
        class={twMerge('flex grow flex-col gap-20', className)}
        {itemprop}>
        <slot />
      </Element>
      <Footer />
    </div>
    <YandexMetrika {counter} />
  </body>
</html>
