---
import { ViewTransitions } from 'astro:transitions';
import twMerge from '$lib/tailwind';
import { Footer, Head, Navbar, YandexMetrika } from '$lib/components';

import '@/styles/global.css';
import '@/styles/backdrop.css';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  robots?: string;
  schema?: string;
  tag?: 'main' | 'article' | 'div';
  class?: ClassName;
  role?: astroHTML.JSX.AriaRole;
  itemprop?: string;
}

const {
  title,
  description,
  robots,
  schema = 'WebPage',
  tag: Element = 'div',
  class: className,
  role,
  itemprop
} = Astro.props;

import { app, seo } from '$lib/configs';
const {
  yandex: { counter }
} = seo;
---

<html
  lang='en'
  class='theme-dark'>
  <head>
    <Head
      {title}
      {description}
      {robots}
      {app}
      rss='/rss.xml'
    />
    <ViewTransitions />
  </head>

  <body
    itemscope
    itemtype={`https://schema.org/${schema}`}>
    <div class='backdrop flex min-h-screen flex-col'>
      <Navbar />
      <Element
        {role}
        class={twMerge('flex grow flex-col', className)}
        {itemprop}>
        <slot />
      </Element>
      <Footer />
    </div>
    <YandexMetrika {counter} />
    <script>
      import '@/pwa';
    </script>
  </body>
</html>
