---
import Icon from '$lib/icons/Icon.astro';
import twMerge from '$lib/tailwind';

import nav from '$lib/configs/nav';
const outers = nav.footer?.outers;

const currentYear = new Date().getFullYear();
---

<footer
  class:list={[
    'flex flex-col gap-12 px-8 py-12 bp:flex-row bp:justify-between bp:px-20 bp:py-10',
    'text-center text-sm text-light-400 dark:text-dark-400'
  ]}>
  <div class='flex flex-col items-center gap-2 bp:flex-row bp:flex-wrap bp:gap-4'>
    <p>
      Designed & Developed in Moscow with
      <a
        class:list={[
          'me-1 ms-1',
          'text-light-400 dark:text-dark-400',
          'underline decoration-transparent underline-offset-4 oversee:decoration-current',
          'transition-colors duration-500'
        ]}
        href='https://astro.build/'
        target='_blank'>
        Astro
      </a>
      <Icon
        class='inline'
        icon='rocket-launch'
        size='1.2em'
      />
    </p>
    <p>&copy; {currentYear} DAKS.DEV</p>
  </div>

  {
    outers && (
      <div class='flex flex-wrap justify-center gap-4 bp:justify-end'>
        {outers.map(({ class: className, href, label, icon, ...props }) => (
          <a
            class:list={twMerge(
              'text-light-400 dark:text-dark-400',
              'underline decoration-transparent underline-offset-4 oversee:decoration-current',
              'transition-colors duration-500',
              className
            )}
            {href}
            {...props}
            aria-label={icon ? label : undefined}>
            {icon ? (
              <>
                <span class='sr-only'>{label}</span>
                <Icon
                  {icon}
                  size='1.625rem'
                />
              </>
            ) : (
              <Fragment set:html={label} />
            )}
          </a>
        ))}
      </div>
    )
  }
</footer>
