---
import { Icon, type IconKeys } from '$lib/icons';
import ThemeToggle from './ThemeToggle.astro';

const textLinks: { label: string; href: string }[] = [
  { label: 'Home', href: '/' },
  { label: 'Work', href: '/work' },
  { label: 'About', href: '/about' }
];

const iconLinks: { label: string; href: string; icon: IconKeys }[] = [
  { label: 'Twitter', href: 'https://twitter.com', icon: 'twitter-logo' },
  { label: 'Twitch', href: 'https://twitch.tv', icon: 'twitch-logo' },
  { label: 'GitHub', href: 'https://github.com', icon: 'github-logo' },
  { label: 'CodePen', href: 'https://codepen.io', icon: 'codepen-logo' },
  { label: 'dribbble', href: 'https://dribbble.com', icon: 'dribbble-logo' },
  { label: 'YouTube', href: 'https://www.youtube.com', icon: 'youtube-logo' }
];

const current = (href: string) =>
  Astro.url.pathname === href || Astro.url.pathname === `${href}/`
    ? 'page'
    : href !== '/' && Astro.url.pathname.startsWith(`${href}/`)
    ? 'step'
    : undefined;
---

<nav
  class:list={[
    'relative z-50 mb-6',
    'font-brand font-medium',
    'md:px-20 md:py-10',
    'md:grid md:grid-cols-[1fr_auto_1fr] md:items-center md:gap-4'
  ]}>
  <div class:list={['p-6 md:p-0', 'flex justify-between gap-2', 'menu-header']}>
    <a
      class:list={[
        'flex items-center gap-2',
        'leading-tight text-light no-underline dark:text-dark',
        'md:text-lg',
        'site-title'
      ]}
      href='/'>
      <Icon
        class='text-impact'
        icon='terminal-window'
        size='2.1em'
        gradient
      />
       DAKS.DEV
    </a>
    <menu-button>
      <template>
        <button
          class:list={[
            'relative flex p-2 ',
            'text-light-300 dark:text-dark-300',
            'rounded-full border-0 bg-gradient-menu-toogle shadow-md',
            'aria-expanded:bg-gradient-menu-toogle-expanded aria-expanded:text-light dark:aria-expanded:text-dark',
            'before:absolute before:-inset-px before:-z-10 before:rounded-full before:bg-gradient-stroke before:content-null',
            'md:hidden',
            'menu-button'
          ]}
          aria-expanded='false'>
          <span class='sr-only'>Menu</span>
          <Icon
            icon='list'
            size='1.5rem'
          />
        </button>
      </template>
    </menu-button>
  </div>
  <noscript>
    <ul class='nav-items'>
      {
        textLinks.map(({ label, href }) => (
          <li>
            <a
              aria-current={Astro.url.pathname === href}
              class:list={[
                'link',
                {
                  active:
                    Astro.url.pathname === href ||
                    (href !== '/' && Astro.url.pathname.startsWith(href))
                }
              ]}
              href={href}>
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </noscript>
  <noscript>
    <div class='menu-footer'>
      <div class='socials'>
        {
          iconLinks.map(({ href, icon, label }) => (
            <a
              class='social'
              href={href}
              target='_blank'>
              <span class='sr-only'>{label}</span>
              <Icon icon={icon} />
            </a>
          ))
        }
      </div>
    </div>
  </noscript>
  <div
    id='menu-content'
    hidden>
    <ul
      class:list={[
        'm-0 p-8',
        'flex list-none flex-col gap-4',
        'text-md leading-snug',
        'border border-light-800 bg-light-950 dark:border-dark-800 dark:bg-dark-950',
        'md:relative md:px-2.5 md:py-2',
        'md:flex-row',
        'md:text-sm',
        'md:rounded-full md:border-0 md:bg-gradient-menu-items md:shadow-md',
        'md:before:content-null',
        'md:before:absolute md:before:-inset-px md:before:-z-10',
        'md:before:rounded-full md:before:bg-gradient-stroke md:before:content-null',
        'nav-items'
      ]}>
      {
        textLinks.map(({ label, href }) => (
          <li>
            <a
              class:list={[
                'link',
                {
                  active:
                    Astro.url.pathname === href ||
                    (href !== '/' && Astro.url.pathname.startsWith(href))
                }
              ]}
              href={href}
              rel='prefetch'
              aria-current={current(href)}>
              {label}
            </a>
          </li>
        ))
      }
    </ul>
    <div
      class:list={[
        'py-6 pl-6 pr-8',
        'flex justify-between gap-3',
        'rounded-b-xl rounded-t-none bg-light-950 shadow-lg dark:bg-dark-950',
        'md:items-center md:justify-self-end md:bg-transparent md:p-0 md:shadow-none dark:md:bg-transparent',
        'menu-footer'
      ]}>
      <div
        class:list={[
          'flex flex-wrap gap-2.5',
          'md:hidden xl:flex xl:justify-end xl:gap-0',
          'socials'
        ]}>
        {
          iconLinks.map(({ href, icon, label }) => (
            <a
              class='social'
              href={href}
              target='_blank'>
              <span class='sr-only'>{label}</span>
              <Icon
                icon={icon}
                size='1.625rem'
              />
            </a>
          ))
        }
      </div>
      <div class:list={['flex items-center', 'theme-toggle']}>
        <ThemeToggle />
      </div>
    </div>
  </div>
</nav>

<script>
  class MenuButton extends HTMLElement {
    constructor() {
      super();

      // Inject menu toggle button when JS runs.
      this.appendChild(this.querySelector('template')!.content.cloneNode(true));
      const btn = this.querySelector('button')!;

      // Hide menu (shown by default to support no-JS browsers).
      const menu = document.getElementById('menu-content')!;
      menu.hidden = true;
      // Add "menu-content" class in JS to avoid covering content in non-JS browsers.
      menu.classList.add('menu-content');

      /** Set whether the menu is currently expanded or collapsed. */
      const setExpanded = (expand: boolean) => {
        btn.setAttribute('aria-expanded', expand ? 'true' : 'false');
        menu.hidden = !expand;
      };

      // Toggle menu visibility when the menu button is clicked.
      btn.addEventListener('click', () => setExpanded(menu.hidden));

      // Hide menu button for large screens.
      const handleViewports = (e: MediaQueryList | MediaQueryListEvent) => {
        setExpanded(e.matches);
        btn.hidden = e.matches;
      };
      const mediaQueries = window.matchMedia('(min-width: 50em)');
      handleViewports(mediaQueries);
      mediaQueries.addEventListener('change', handleViewports);
    }
  }
  customElements.define('menu-button', MenuButton);
</script>

<style lang="postcss">
  .link {
    @apply inline-block
           text-light-300 no-underline aria-[current]:text-light dark:aria-[current]:text-dark
           md:py-2 md:px-4 md:rounded-full
           md:ready:transition-colors md:ready:duration-200
           md:oversee:text-light-100 dark:md:oversee:text-dark-100 md:oversee:bg-impact-subtle-overlay
           md:aria-[current]:bg-impact md:aria-[current]:text-impact-text-over
           forced-colors:text-selected;
  }

  .social {
    @apply flex p-2
           oversee:text-impact-text-over text-impact-dark no-underline
           ready:transition-colors ready:duration-200;
  }

  .menu-content {
    @apply absolute inset-x-0 md:contents;
  }
</style>
